.imagesliderbody{
    width:80%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    /* border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px; */
    position:relative;
}