.projects{
  height:120vh;
  width:100%;
}
.projectsheading{
  text-align: center;
}
.projectsheading p{
  color:white;
  font-family: "Anton", sans-serif;
  font-size: 50px;
  padding:20px;
  font-weight: 600;
  margin:0px;
}
.projectscontent{
  width:100%;
  height:500px;
}
