
.contactmebody{
  height:auto;
  background-position: center center;
  background-size: cover;
  /* opacity:0.3; */
  background-image:linear-gradient(rgb(23,27,28) 10%,transparent),radial-gradient(transparent 0%,rgb(71,68,68) 70%,rgb(23,27,28) 100%),url("../../assets/contactme.jpg");
  width:100%;
  /* background-attachment: fixed; */
}
.contactmeheading {
  height:50px;
  width:100%;
  margin:0px;
  text-align: center;
  margin-top: 50px;
  font-family: "Anton", sans-serif;
}
.contactmeheading p{
  font-size: 50px;
  padding:10px;
  font-weight: 600;
  color:white;
}
.contactbody{
  font-family: "Poppins", sans-serif;
  margin-top:50px;
  height: 50vh;
  width:100%;
  margin-top:50px;
  margin-bottom:50px;
  align-content: center;
}
.contactform{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width:80%;
  height:50vh;
  gap:20px;
  margin:auto;
  flex:10%;
}
.initialdetails{
  width:90%;
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}
input{
  color:white;
  width:33%;
  margin:0px;
  height:35px;
  /* border-color:rgb(206,31,30); */
  border-style: solid;
  border-radius:4px;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}
textarea{
  color:white;
  width:90%;
  height:100px;
  margin-left: auto;
  margin-right:auto;
  background:transparent;
  font-family: "Poppins", sans-serif;
}
/* textarea:active{
  background-color: rgb(206,31,30);
  opacity:0.5;
} */
.submit{
  background-color: rgb(206,31,30);
  width:100px;
  height:30px;
  font-family: "Poppins", sans-serif;
  border:none;
}
.submit:hover{
  transform:scale(1.25);
  transition:0.3s;
}
.contactdetails{
  margin:0px;
  padding:0px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom:40px;
  margin-top:40px;
}

.emailme{
  text-align: center;
  margin:0px;
  font-family: "Poppins", sans-serif;
}
.callme{
  text-align: center;
  margin:0px;
  font-family: "Poppins", sans-serif;
}
.emailme p{
  font-size: 20px;
  margin:0px;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-style: normal;
  color:rgb(210, 206, 206);
}
.callme p{
  font-size: 20px;
  margin:0px;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-style: normal;
  color:rgb(210, 206, 206);
}
.emailme h3{
  margin:0px;
}
.callme h3{
  margin:0px;
}
.copyright{
  width:100%;
  text-align: center;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(135,135,135);
  align-content: center;
  margin:auto;
  margin-top:10px;
}
.copyright p{
  color:rgb(210, 206, 206);
  margin:0px;
  padding:10px;
}
@media only screen and (max-width: 768px) {
  /* Add your mobile-specific styles here */
  .initialdetails{
    flex-direction: column;
  }
  input{
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
  .contactbody{
    margin-right:auto;
    margin-left:auto;
  }
}