@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
overflow-x: hidden;
scrollbar-width: 5px;
box-sizing: border-box;
}
body::-webkit-scrollbar{
  display:none;
}
.body{
  font-family: "Poppins", sans-serif;
  margin:0px;
  padding:0px;
  height:auto;
  background-color: rgb(23,27,28);
}
.header{
  margin:0px;
  padding:10px;
  width:100%;
  max-width: 100%;
  height:50px;
  position: fixed;
  top:10px;
  display:flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  font-weight: 500;
}

.header ul{
 list-style-type: none;
 margin:0px;
 padding:30px;
 display:flex;
 flex-direction: row;
 align-items: center;
}

.header ul li {
  padding:0px;
  margin:0px;
  width:auto;
  height:auto;
  margin-left:2em;
  position: relative;
}
.header ul li a{
  color:white;
}
.header ul li :hover{
  color:rgb(206,31,30);
  transition: 50ms;
  cursor: pointer;
}
.logo{
  margin-left:3em;
  margin-right: auto;
}
.logo img{
  height:50px;
  
}
.socials{
  position:fixed;
  top:30%;
  height:95vh;
  padding:0px;
  margin:0px;
  margin-left:10px;
}
.socials p{
  transform: rotate(-90deg);
  padding:0px;
  margin:0px;
  margin-top: 20px;
  color:rgb(153,153,153);
  height:70px;
}
.socials ul{
  list-style-type: none;
  margin:0px;
  padding: 0px;
  margin-left: 10px;
}
.socials ul li{
  margin-top: 15px;
  margin-bottom: 15px;
}
.socials ul li a{
  color:rgb(206,31,30);
}
.intro{
  height:100vh;
  /* background-image: url("/portfolio/public/background.jpg"); */
  width:100%;
  padding:0px;
  margin: 0px;
  box-shadow:rgba(1,0,1,.5);

}
.intro video{
  object-fit:fill;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
}
.introdetails{
  position: absolute;
  top:40%;
  left:10%;
  margin: 0px;
  padding:0px;
}
.introdetails p{
  color:white;
  font-size: 17px;
  color: rgb(206,31,30) ;
  margin:0px;
  padding:0px;
}
.introdetails p1{
  color:white;
  font-size: 60px;
  margin:0px;
  padding:0px;
  font-family: "Rubik Burned", system-ui;
}
.introaddress{
  margin-top:10px;
}
.overlay{
  width:100%;
  height:100%;
  background-image: linear-gradient(transparent 60%,rgb(23,27,28) 100%);
  position: absolute;
  top:0%;
}

@media only screen and (max-width: 768px) {
  .introdetails p1{
    color:white;
    font-size: 40px;
  }
  .aboutmecontent p{
    color:white;
    font-size: 15px;
    margin-left:40px;
    margin-right: 40px;
    text-align: center;
  }
  .intro video{
    width:100%;
    height:100%;
  }
  .overlay{
    height:0px;
  }
}
/* @media only screen and (max-width: 500px) {
  html{
    zoom: 60%;
  }
  
} */