.aboutme{
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
  }
  .aboutmeheading{
    height:50px;
    width:100%;
    margin:0px;
    text-align: center;
    margin-top: 50px;
    font-family: "Anton", sans-serif;
  
  }
  .aboutmeheading p{
    font-size: 50px;
    padding:10px;
    font-weight: 600;
    color:white;
  }
  .aboutmecontentbox{
    height:auto;
    display:flex;
    margin-top:60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .aboutmecontent{
    font-family: "Poppins", sans-serif;
    width:40em;
    height:auto;
    padding:10px;
    color:white;
  }